body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section-1 {
    width: 100%;
    background-color: #F5F5F5;
    padding-bottom: 50px;
}
.ville {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #EFEFEF;
}
.ville i,
#fonction i {
    margin-right: 15px;
    color: grey;
}
p {
    margin: 10px;
}
#fonction,
.decouverte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.decouverte h2,
.decouverte p {
    width: 80%;
    text-align: center;
}
.explore {
    display: flex;
    justify-content: center;
}
.restaurant {
    margin-top: 20px;
    padding: 12px 30px;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    cursor: pointer;
}
.section-2 h2 {
    margin: 15px 25px;
}
#fonction div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
    background-color: #F5F5F5;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 15px;
    position: relative;
}
.numero {
    width: 18px;
    padding: 7px;
    color: white;
    background-color: #9356DC;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    text-align: center;
}
